# Dependencies
node_modules/

# Nuxt build output
.nuxt/
.output/
.data/

# Logs
logs/
*.log
npm-debug.log*

# Env
.env
.env.*
!.env.example

# Editor / OS
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Misc
.cache/
dist/
